.select-container {
    margin: 0px 1vw;
    min-width: 13rem;
    position: relative;
}

.select-default {
    border: none;
    background-color: white;
    border-radius: 30px;
    padding: .5rem 1rem;
    user-select: none;
}

.select-default:hover {
    background-color: #e4f1ff;
    cursor: pointer;
}

.options-select {
    /* box-shadow: 0px 0px 20px 0px black; */
    border: 1px solid #e5f1ff;
    background-color: white;
    height: 9rem;
    overflow: auto;
    margin-top: .5rem;
    position: absolute;
    width:100%;
}

.option-country {
    align-items: center;
    display:flex;
    justify-content: center;
    height:3rem;
}